# {{ ansible_managed }}
options timeout:{{ resolvconf_timeout }} attempts:{{ resolvconf_attempts }} rotate
domain {{ internal_subdomain }}
{% for dns in resolvconf_servers %}
nameserver {{ dns }}
{% endfor %}
