{
 "insecure-registries" : [
    "bastion_host1.{{ internal_subdomain }}:5000",
    "bastion_host1.{{ internal_subdomain }}:8082",
    "bastion_host1.{{ internal_subdomain }}:8083",
    "{{ eva-tech_repository_url }}:{{ docker_port}}"]
 }
